.subheader {
  background: #fff;
  color: #000000;
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.subheader .container {
  display: grid;
  grid-template-columns: calc(100% / 3 - 90px) 1fr;
  justify-content: space-between;
  align-items: center;
}

.subheader .container > * {
  padding-bottom: 8px;
}

.toogle-nav-wrapper {
  cursor: pointer;
  position: relative;
  margin-bottom: -8px;
  margin-top: -8px;
}
