.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.sort-cate ul {
  padding-left: 0;
  list-style: none;
  margin: 0px;
}
