.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
