.title_page,
.title-head {
  font-weight: 400;
}

.title_page {
  font-size: 1.4rem;
  padding: 10px 0;
}

.pagenav {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
  align-items: center;
}

.pagination {
  border-radius: 0.25rem;
}

.page-item.disabled:not(.active) {
  display: none;
}

.page-item:first-child .page-link {
  margin-left: 0px;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
