.dropdown {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
/* 
.dropdown:hover > .drop-menu {
  opacity: 1;
  visibility: inherit;
  z-index: 10;
} */

.drop-menu.active {
  opacity: 1;
  visibility: inherit;
  z-index: 9;
}
