.sidebar {
  order: -1;
  border-right: 1px solid #eee;
}

.card {
  border-radius: 0px !important;
  border: none;
}

aside.aside-item {
  padding-top: 15px;
}

.title-head {
  font-size: 1rem;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: red;
  font-weight: 400;
}

.aside-filter ul {
  padding-left: 0;
  list-style: none;
  margin: 0px;
}

.aside-content .filter-item {
  position: relative;
  clear: left;
  font-size: 14px;
  padding: 0;
}

.custom-checkbox {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.7rem;
}

.custom-checkbox input {
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.aside-content .filter-item .fa {
  cursor: pointer;
  display: inline;
}

input[type="checkbox" i]:focus-visible {
  outline-offset: 2px;
}

.custom-checkbox .fa {
  display: inline;
}

.custom-checkbox input:checked ~ .fa:before {
  z-index: 2;
  background: no-repeat 50%/50% 50%;
  background-image: url(
    data:image/svg + xml;charset=utf-8,
    %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 8 8"%3E%3Cpathfill="%23fff"d="M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z"/%3E%3C/svg%3E
  );
}
