#gallery_02 .item.slick-slide.slick-current.slick-active {
  border-color: #ec1c24;
}

.item.slick-slide img {
  width: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2px;
}

.custom-indicator {
  bottom: -65px;
}

.custom-indicator li {
  width: 60px;
  border-color: #ec1c24;
  height: 60px;
}
