.item.slick-slide img {
  width: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
}

.custom-indicator {
  bottom: -100px;
}

.custom-indicator li {
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
}

.custom-indicator li.slick-active {
  filter: grayscale(0%);
  border: 2px solid #ec1c24;
  border-radius: 10px;
}

.embed-responsive {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  pointer-events: initial;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.embed-responsive::before {
  display: block;
  content: "";
}
