.col-xs-30,
.col-sm-30,
.col-md-30,
.col-lg-30 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .col-md-30 {
    max-width: 40%;
    flex: 0 0 40%;
  }
}
