.item_product_main {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
}

.item_product_main .product-thumbnail {
  position: relative;
  overflow: hidden;
}

.item_product_main .image_thumb {
  display: block;
}

.item_product_main a {
  text-decoration: none;
  color: var(--text-color);
}

@media (min-width: 1025px) {
  .item_product_main {
    font-size: 16px;
  }
}
