.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.item_product_main .product-thumbnail {
  position: relative;
  overflow: hidden;
}

.item_product_main .image_thumb {
  display: block;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.product-frame {
  z-index: 2;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.pos-relative.embed-responsive.embed-responsive-1by1 img {
  --image-scale: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--image-scale));
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.pos-relative.embed-responsive.embed-responsive-1by1 img:not(:first-child) {
  --image-scale: 0.8;
}

.item_product_main .product-name {
  margin: 10px 0 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  float: left;
  width: 100%;
  white-space: normal;
  height: 65px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .col-md-15 {
    max-width: 20% !important;
    flex: 0 0 20% !important;
  }
}

@media (min-width: 992px) {
  .item_product_main .product-info {
    padding: 10px;
  }
}
