.item_product_main {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
}

.item_product_main .product-thumbnail {
  position: relative;
  overflow: hidden;
}

.item_product_main .image_thumb {
  display: block;
}

.item_product_main a {
  text-decoration: none;
  color: #000000;
}

.form-control:focus,
a,
button,
.page-link:focus,
.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

@media (min-width: 1025px) {
  .item_product_main {
    font-size: 16px;
  }
}
